@model ResearchGate.Models.Artical

@{
    ViewBag.Title = "ShowArticalDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="~/Content/Search/Searchoutput.css" rel="stylesheet" />
    <link href="~/Content/addResearch/like.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <div>
        <h3 style="text-align:left">@Model.title</h3>

        @foreach (var author in Model.Authors)
        {

            <img src="@Url.Content(@author.ProfileImage.ToString())" style="border-radius: 25px;max-height:18px" />
            <a href="/Authors/VisitProfile/@author.ID"><span>@author.Fname @author.Lname</span></a>

        }

        <div style="margin-right:10px; float:right">
            <a href="/AddArticals/Like/@Model.ID" class="btn-secondary like-review"><i class="fa fa-heart" aria-hidden="true"></i> Like</a>
        </div>
        <div style="margin-right:10px; float:right">
            <a href="/AddArticals/DisLike/@Model.ID" class="btn-secondary like-review"><i class="fa fa-thumbs-down" aria-hidden="true"></i> DisLike</a>
        </div>

        <iframe src="@Url.Content(Model.Paper)"
                frameBorder="0"
                scrolling="auto"
                height="500px"
                width="100%"
                style="margin-top:10px"></iframe>

        @foreach (var item in Model.Comments)
        {
            <div style="border: 0.5px solid black;margin-top:2px">
                <img src="@Url.Content(item.Author.ProfileImage)" style="border-radius: 25px;max-height:18px" />
                <a href="/Authors/VisitProfile/@item.Author.ID"><span>@item.Author.Fname @item.Author.Lname</span></a>
                <div>@item.comment1</div>
            </div>
        }
    </div>
    <a href="/AddArticals/Comment/@Model.ID" class="btn btn-primary" style="position:absolute; left:45%; background-color:#0080ff;margin-top:2px">Add Comment</a>
</body>

</html>
